<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Toto App</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-todo']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item detail="false" *ngFor="let todo of todos; let i = index;">
        <ion-label>
          {{ todo.title }}
        </ion-label>
        <ion-checkbox [(ngModel)]="todo.completed"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
